# Python cache files
__*
# Visual Studio Code bloatware
.vscode/*

# Server sensitive data
config.yaml

# Reserved directories
certs/*
db/*
tmp/

# Python Virtualenv, ignore them
bin/*
include/*
lib/*
lib64
pyvenv.cfg
