# Python cache files
__*
# Glade temp files
*glade~
*glade#

# Visual Studio Code bloatware
.vscode/*

# Client/Server sensitive data
*.pem
config.yaml
client.config.yaml

# Reserved directories
certs/*
db/*
tmp/

# Python Virtualenv, ignore them
bin/*
include/*
lib
lib64
share
pyvenv.cfg
