# bot client configuration file only
# use this file to connect FROM clients TO server only
botserverHost: "127.0.0.1"      # MUST use "CN" if something different from localhost
botserverPort: 6667             # BotServer TCP Port
#botserverTimeout:  20           # TCP timeout


# List of allowed clients, with certificates (common name: CN)
clientCertificates:
    ca: certs/ca_gaia_cert.pem              # ca_key.pem file
    key: certs/client_key.pem               # client key file
    certificate: certs/client_cert.pem      # client certificate file


# Verify server self signed certificate. Default: False
# clientVerifySelfSigned: False

