# BotServer Listening Interface, possible values are:
#   - Single IP Address, example: '127.0.0.1'
#   - Empty, listens on all interfaces: ''
#   - Multiple IP Addresses, listen on all these ports, example: '127.0.0.1,192.168.0.1'
botserverHost: "127.0.0.1"
botserverPort: 6667             # BotServer TCP Port
botserverTimeout: 60            # BotServer TCP Socket Timeout
botserverConnections: 5         # BotServer listening connections, keep it as low as possible

language:                       # bot language for lemmatizer
    - it
    - en

chatThreshold: 0.65             # chatbot recognition threshold

# List of allowed clients, with certificates (common name: CN)
allowedClients:
    - botctl

# Plugin configuration section
plugin:
    weather:
        api: <API KEY>          # OpenWeatherMap API key
        lat: <latitude>         # Lat  applied for requiring default weather data
        lon: <longitude>        # Lon
        units: metric           # Default scale applied when it's not specified

# Verify server self signed certificate. Default: False
# clientVerifySelfSigned: False
